[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-passkeys = "*"
django-otp = "*"
python-dotenv = "*"
djangorestframework-api-key = "*"
pymysql = "*"
redis = "*"
gunicorn = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
celery = "*"

[dev-packages]

[requires]
python_version = "3.13"
