{% extends 'base.html' %}
{% block title %}Edit User{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Edit {{user.fullname}}</h4>
            </div>
            <div class="card-body">
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                <form method="post">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button type="submit" class="btn btn-primary w-100 mt-3">Edit User</button>
                    <a href="{% url 'colleges:manage_college' college.id %}" class="btn btn-secondary w-100 mt-2">Back</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
